html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */

/* Write your css below here */

* {
    box-sizing: border-box;
}

.container {
    background-color: yellow;
    height: 100vh;
    width: 100vw;
    display: grid;
    overflow-x: hidden;
    grid-template: "header" 100px "section" 1fr "aside" 1fr "footer" 50px / 1fr;
}

div > a {
    font-family: cursive;
    font-size: 17px;
    background-color: rgb(252 231 231);
    padding: 20px;
    text-decoration: none;
    border-radius: 5px;
}

header {
    background-color: #fce1e1;
    color: #1e1e1e;
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


p {
    text-align: justify;
    line-height: 1.5;
}

nav {
    margin-top: 1rem;
}

nav a {
    color: #e96d63;
    text-decoration: none;
    margin-right: .7rem;
}

nav a:hover {
    color: #c7433e;
}

section {
    padding: 1rem;
    background-color: #e9dce3;
    color: #1e1e1e;
    grid-area: section;
}

section .image {
    width: 300px;
    height: auto;
    margin: 1rem 0;
}

aside .image {
    width: 300px;
    height: auto;
}

.image img {
    width: 100%;
    height: 100%;
}

div > a:hover {
    color: rgb(252 231 231);
    background-color: lightblue;
    border-radius: 7px;
}



aside {
    padding: 1rem;
    background-color: #f1f1f1;
    color: #7c7c7c;
    grid-area: aside;
    display: flex;
    flex-direction: column;
}

aside div:nth-of-type(2) {
    padding: 1rem;
    margin: 1rem 0;
    width: fit-content;
}



aside div:nth-of-type(2) a:last-child {
    margin-left: 1.5rem;
}

aside div:nth-of-type(3) {
    padding: 1rem;
    margin: 1rem 0;
    width: fit-content;
}

aside div:nth-of-type(3) a:last-child {
    margin-left: 5rem;
}

aside h2:nth-of-type(1) {
    font-size: 20px;
    font-family: monospace;
    padding: 1rem;
    margin: 1rem 0;
}



footer {
    background-color: #fce1e1;
    grid-area: footer;
    color: #7c7c7c;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (width >= 768px) {
    .container {
        grid-template: "header header" 50px "section aside" 1fr "footer footer" 30px / 2fr 1fr;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.8rem;
    }

    nav {
        margin-top: 0;
    }
}
